
body{
    background-image:url("https://images.unsplash.com/16/unsplash_5252b10dacd20_1.JPG?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=6b8f4a5a5ac5ed4dd602c59e19affa56");
    background-size: 100%;
    background-position: top;
    color:white;
    font-family: Roboto;

}
.top-title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: Lobster, Verdana;
    text-shadow: 2px 2px black;
}
.main-body{
    text-align: center;
    margin: 0 auto;
}
.city{
    margin-top: 50px;
}
.new-city{
    color:gray;
}