
body{
    background-image:url("http://www.powerpointhintergrund.com/uploads/2017/05/blue-sky-abstract-background-for-desktop-hd-wallpapers-34.jpeg");
    background-size: 100%;
    background-position: top;
    color:white;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-attachment: fixedl

}
.top-title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: Lobster, Verdana;
    text-shadow: 2px 2px black;
}
.main-body{
    text-align: center;
    margin: 0 auto;
}
.city{
    margin-top: 50px;
}
.new-city{
    color:gray;
}